html {
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.d-block {
  display: block;
}

/* 
.field {
  display: block;
  margin-bottom: .75rem;
}

.field label {
  display: block;
} */

/* 
.input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-dark {
  color: #fff;
  background-color: #242426;
  opacity: .85;
  border-color: #242426;
}

.btn-dark:hover {
  opacity: .95;
}

.block {
  padding: 1rem 1.25rem;
}

.is-dark-transparent {
  background-color: rgba(36, 36, 38, .6);
  /* opacity: .88; */
  color: rgba(250, 250, 250, 0.9)!important;
}

.is-dark-transparent:hover {
  background-color: rgba(36, 36, 38, 0.88);
}

button.is-dark-transparent {
  border-color: transparent!important;
}
/* 
.react-contextmenu--visible {
  background-color: hsl(0, 0%, 29%);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 200px;
  z-index: 2;
}

.react-contextmenu-item {
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: 1rem;
  padding-right : 1rem;
  color: white;
} */

.react-contextmenu-item:hover {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}



:root {
  --bbar-rigth-pos: 1rem;
  --bbar-interval: calc(50px + 0.5rem)
}

.bbar {
  position: fixed;
  bottom: 1rem;
}

.bbar-1 {
  right: var(--bbar-rigth-pos);
}

.bbar-2 {
  right: calc(var(--bbar-rigth-pos) + var(--bbar-interval));
}

.bbar-3 {
  right: calc(var(--bbar-rigth-pos) + var(--bbar-interval) * 2);
}